:root{
    --primario: #858BF5;
    --primarioOsc: #141758;
    --secundario: #BA7BFA;
    --secundarioOsc: #7f00fe;
    --blanco: #fff;
    --negro: #000;

    --fuentePrin: font-family: 'Krub', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;/*1rem a 10 pixeles*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--primarioOsc);
    font-size: 1.6rem;
    line-height: 1.5;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

h1, h2, h3 {
    font-family: var(--fuentePrin);
    color: var(--negro);
    text-align: center;
}
h1{
    font-size: 4rem;

}
.contenedor{
    max-width: 120rem;
    margin: 1rem auto;
    position: relative;
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--primario);
    padding: 4rem;
    border-radius: 1rem;
}

.header{
    display: flex;
    justify-content: center;
}
.header_inicial{
    margin: 1rem 0;
    font-family: var(--fuentePrin);
    font-size: 4rem;
    color: var(--blanco)

}   

.footer{
    background-color: var(--primario);
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: center;
    
}
.footer_texto{
    font-size: 2.2rem;
    font-family: var(--fuentePrin);
}
.navegacion{
    background-color: var(--primario);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.nevegacion_cont{
    font-family: var(--fuentePrin);
    color: var(--negro);
    font-size: 2rem;
}

.nevegacion_cont:hover{
    color: var(--secundarioOsc);
    background-color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
        
    }
}
* {box-sizing:border-box}

.contenedor_hero {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.micarrusel  {
  display: none;
}

.antes, .despues {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.despues {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.antes:hover, .despues:hover {
  background-color: rgba(0,0,0,0.8);
}



.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  width:100%;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.img_main{
    height: 15rem;
    border-radius: 50%;
}
.sobreMi p{
    display: flex;
    height: 2rem;
    width: 6rem;
}